body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, hsla(139, 70%, 75%, 1) 0%,hsla(63, 90%, 76%, 1) 100%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
/*     background-image: url(https://78.media.tumblr.com/50d43db43843a7dc2fbb93c660a1d0dc/tumblr_ozar2dfRQI1rh3rypo1_1280.gif);
    background-size: cover;
    background-repeat: no-repeat; */
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.cent{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper{ 
    
    font-size: 30px;
    font-family: 'Pixelify Sans', sans-serif;
    
}
h1 span{
    text-shadow: 2px 2px 8px white;
    padding: 20px 0;
    font-size: 1.5em;
    background: hsla(139, 70%, 75%, 1);
    background: linear-gradient(90deg, hsla(139, 70%, 75%, 1) 0%, hsla(63, 90%, 76%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(139, 70%, 75%, 1) 0%, hsla(63, 90%, 76%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(139, 70%, 75%, 1) 0%, hsla(63, 90%, 76%, 1) 100%);
}
#playground{
    aspect-ratio: 1/1;
    min-width: 600px;
    max-width: 600px;
    background-image: url(https://media.istockphoto.com/id/460329283/vector/abstract-businessman-with-huge-bomb.jpg?s=612x612&w=0&k=20&c=DTGL2DtiVIV68E9vqR8-_zKMDpD7xETceJhnipMXFCs=);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px inset rgba(0,0,0,.5);
	border-left: 2px inset rgba(0,0,0,.5);
	border-right: 2px inset rgba(255,255,255,.5);
	border-top: 2px inset rgba(255,255,255,.5);
    box-shadow: 0px 5px 20px #6baa7e;

    display: flex; 
    flex-wrap: wrap;
}
button{
    padding: 150px 0;
    margin: 40px;
    max-height: 600px;
}
button span:first-child{
    display: inline-block;
    transform: rotate(-90deg);

}
button span.d-block{
    text-shadow: 2px 2px 8px #9bedab;
    right: 5px;
    left: 4px;
    
    margin-bottom: 5px;
    height: 40px;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	cursor: pointer;
	text-transform: uppercase;
    width: auto;
}
button span.d-block:hover{
    transform: scale(1.1);
}
.square{
    border: 2px solid #f0f0f0;
    background-color: rgba(255,255,255,.5);
    border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.square:hover{
    cursor: crosshair;
}
.active{
   background-color: rgb(46, 46, 46);
}
.boxGame{
    height: 50px;
}
.boxGame p{
    text-align: right;
}
